html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; }
#panel {
    position: absolute;
    top: 50%;
    left: 5px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    max-width: 250px;
    word-wrap: break-word;
}
#map-canvas { height: 100%; }